.image{
   border-radius: 50px!important;
   width: 100px !important;
   height: 100px !important;
   margin: auto
}

.mt-5{
   margin-top: 50px;
}

.mb-5{
   margin-bottom: 50px;
}

.text-center{
   text-align: center;
}

.description{
   display: flex;
}

.row {
   display: flex;
   flex-direction: row;
}

.col{
   display:  flex;
   flex-direction: column;
}